/*  your css code here. If applicable */
/*  your css code here. If applicable */
body {
    background-color: #f8f8f8;
}
h1{
	text-align:center;
}

.book-library {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.author {
    color: #777777;
}

.price {
    background-color: #2ecc71;
    color: white;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
}